.interactive-card-form-container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;

  .background-image-wrapper {
    width: 32%;
    height: 100%;
    .background-image {
      width: 100%;
      height: 100%;
    }
    .cards-wrapper {
      width: fit-content;
      height: 100%;
      position: absolute;
      top: 0;
      left: 6vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .card-front-position {
        width: 32.639vw;
      }
      .card-back-position {
        margin: 2.431vw 0 0 5.556vw;
        width: 32.639vw;
      }
    }
  }

  .interactive-card-form-wrapper {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-wrapper {
      width: 35%;
      .input-wrapper {
        margin-bottom: 1.736vw;
        .input-label {
          width: 100%;
          display: block;
          font-size: 0.903vw;
          font-weight: 500;
          letter-spacing: 0.139vw;
        }
        .form-input {
          border: 1px solid hsl(279, 6%, 55%);
          box-sizing: border-box;
          width: 100%;
          padding: 0.694vw 1.042vw;
          border-radius: 0.694vw;
          font-family: "Space Grotesk", sans-serif;
          font-size: 1.181vw;
          font-weight: 500;
          margin-top: 0.556vw;

          &::placeholder {
            color: hsl(279, 6%, 55%);
          }

          &:focus {
            outline: none;
            border: double 1px transparent;
            border-radius: 0.694vw;
            background-image: linear-gradient(white, white),
              linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
            background-origin: border-box;
            background-clip: padding-box, border-box;
          }
        }
      }

      .date-cvc-wrapper {
        display: flex;
        justify-content: space-between;

        .input-wrapper {
          width: 48%;
          .date-input-wrapper {
            display: flex;
            justify-content: space-between;
            .date-input {
              width: 48%;
            }
          }
        }
      }
      .submit-btn {
        margin-top: 1.389vw;
        width: 100%;
        background-color: hsl(278, 68%, 11%);
        color: hsl(270, 3%, 87%);
        font-family: "Space Grotesk", sans-serif;
        font-size: 1.111vw;
        font-weight: 400;
        height: 3.472vw;
        border-radius: 0.556vw;
      }
    }
  }
}
